
<div class="w-full text-center pt-4 py-8 {{classes}}">
    <span class="font-karma-bold text-sm xs:text-base xs:text-lg l:text-2xl md:text-base">© COPYRIGHT 2021  | <br>
Narrarte tv. Derechos Reservados</span>
</div>




