<div class="w-full text-center py-6 {{classes}}">
     <a href="{{@site.url}}">
        <div class="bg-black w-12 h-12 m-auto rounded-full relative flex items-center md:float-left">
            {{> icons/location fill=fill classes_string="m-auto block" width="20" height="20" fill="#FFF" viewbox="0 0 13 22"}}
        </div>
     </a>
    <div class="w-1/2 m-auto md:w-2/3">
        <span class="font-karma-regular text-sm xs:text-base xs:text-lg l:text-2xl md:text-base">
            UBICACIÓN
            Tegucigalpa, Honduras
        </span>
    </div>
</div>