<div class="gh-head-actions">
    {{#unless @member}}
        <a class="gh-head-button" href="#/portal/signup">Subscribe a</a>
    {{else}}
        <a class="gh-head-button" href="#/portal/account">Account</a>
    {{/unless}}
</div>