{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<div class="home main-content-area">
    {{> home/featured}}
    {{> home/narrarte tag="hash-narrarte-main"}}
    {{> home/events-per-year}}
    {{> home/puro-cuento tag="hash-home-main-cuento"}}
    {{> home/pago-consciente}}
    {{> home/main-post-viewer}}
</div>