{{!< default}}

<div class="content pt-8 teta:w-4/5 teta:m-auto teta:pt-16">
    <div class="header section w-9/10 m-auto">
        <div class="text-center">
            <span class="font-karma-bold uppercase block text-5xl s:text-6xl">narrarte</span>
            <span class="block text-3xl font-karma-light s:text-4xl">el arte de narrar</span>
        </div>
        <div class="pt-2 text-center">
            <span class="font-karma-light">
               La historia de la humanidad fue contada antes de ser pintada, tallada o 
               impresa por chamanes, nanas, curanderos, sanadores o el que lleva el 
               bastón de la palabra, compartiendo al calor de la fogata, bajo el manto 
               estrellado o en las cavernas observando sombras, comprendiendo o interpretando 
               la creación. Haciendo uso del inconmensurable mundo de la imaginación, 
               provocando en quien escucha un universo posible de alcanzar y percibir.
               Narrarte.tv es un canal dedicado a presentar el fascinante mundo de la 
               narración oral escénica – relatores, fabulistas, casiadores, 
               juglares, copleros, cuenteros, cuentistas, storytellers, 
               conteurs y narradores. Seres humanos que llevan la palabra 
               como instrumento de vida, comprometidos a continuar el legado 
               intangible de la transmisión de historias humanas.
            </span>
        </div>
    </div>
    <div class="block py-16 w-full">
        <div class="min-h-13rem xxs:min-h-18rem s:min-h-20rem l:min-h-48rem bg-black">
             <iframe class="min-h-inherit" width="100%" height="auto" src="https://www.youtube.com/embed/ONuWxgucgGc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="text-center w-2/3 teta:w-9/10 teta:pt-4 teta:m-auto">
            <span class="hidden font-karma-light text-xs teta:block">
               La Loba es una función de narración oral femenina, basada en una adaptación libre del libro “Las Mujeres que corren con Los Lobos” de Clarissa Pinkola Estés. La puesta en escena de la Loba tiene como objetivo colocar en el rol protagónico a la mujer, y que estos mismos personajes femeninos brinden un empoderamiento reflexivo y analítico; función que ha sido presentada internacioalmente.
            </span>
        </div>
    </div>

    <div class="w-full m-auto clear-both">
        <div class="teta:w-1/2 ganma:w-2/5 teta:float-left">
                <img class="min-h-inherit w-full h-full object-cover" src="{{@site.url}}/assets/images/general/vm_elena.jpg" alt=""/>
        </div>
        <div class="w-9/10 teta:w-1/2 ganma:w-3/5 m-auto pt-8 teta:float-left teta:pt-0 teta:pl-40">
            <div class="text-center w-full teta:text-left">
                <span class="font-karma-bold capitalize inline-block text-4xl s:text-5xl teta:text-3xl ganma:text-5xl">elena vindel</span>
                <br>
                <span class="inline-block font-karma-light uppercase text-xl s:text-2xl teta:text-xl">narradora oral y arte terapeuta</span>
            </div>
            <div class="w-full m-auto pt-12 teta:pt-4">
                <span class="font-karma-light text-base">
                    Autodidacta experimental en su formación arte-terapéutica y en todas sus facetas como actriz, conductora de radio y TV, modelo, “cuenta cuentos” encontrando en el Arte-Terapia la forma ideal de combinar sus pasiones: las disciplinas artísticas, la narrativa y la psicología.<br>
                    Actualmente es directora de los encuentros hispanoamericanos de narradoras orales AULLIDO DE LOBAS que se lleva a cabo en diversos países de América Latina y en Canadá este año. A la fecha se han realizado encuentros “Aullido de Lobas” en Honduras, Guatemala, Perú, México y ahora en Canadá.<br>
                    Es fundadora del Colectivo Geckos - Narración Oral Centroamérica y de la Red de Narración Oral Hispanohablante de Canadá y Directora de PURO CUENTO - proyecto para espacios en podcasts de micro-cuentos que abrazan la tradición oral.
                </span>
            </div>
        </div>
    </div>

    <div class="block py-8 w-full clear-both ganma:pt-20">
        <div class="min-h-13rem xxs:min-h-18rem s:min-h-20rem l:min-h-48rem bg-black">
            <iframe class="min-h-inherit" width="100%" height="auto" src="https://www.youtube.com/embed/GrsYKl7JjVo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="text-center w-4/5 m-auto pt-4">
            <span class="font-karma-light text-xs">
                Es una propuesta de historias basadas en hechos reales, recopilados por la narradora a través de su trabajo como psicóloga y arte-terapeuta. Es una pieza confeccionada a través relatos cortos sobre las secuelas del abuso sexual infantil como ser el estrés postraumático, la sexopatía, sentimientos generalizados de ansiedad y desconfianza entre otros.
            </span>
        </div>
    </div>

    <div class="block pt-8 pb-16 w-full">
        <div class="text-left w-4/5 m-auto py-8">
            <span class="font-karma-light text-base">
                A continuación, les invitamos a hacer un recorrido por los diversos proyectos en el marco de las actividades de Narrartetv – el arte de narrar. Proyectos que ejemplifican el amplio universo de la narración oral y así como aquellos vinculados al arte-terapia. LAS LOBAS reúne a mujeres narradoras dispuestas a compartir el escenario y contar historias de mujeres por mujeres como protagonistas de la historia humana. PURO CUENTO en formato de podcast transportará a quien escucha a un momento entrañable y especial, a un espacio donde solo los cuentos pueden llegar. El ARTE-TERAPIA se utiliza para estimular procesos de cambio en las personas, ya que desarrolla y refuerza ciertas habilidades como la creatividad, percepción, intuición, comunicación y reflexión. Un vistazo a un mundo fascinante, creativo y educativo.
            </span>
        </div>
         <div class="min-h-13rem xxs:min-h-18rem s:min-h-20rem l:min-h-48rem bg-black">
            <iframe class="min-h-inherit" width="100%" height="auto" src="https://www.youtube.com/embed/12moCqxoy84" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

</div>