{{!< default}}
<div class="w-full">
    <div class="w-4/5 m-auto py-16">
        <div class="w-full flex align-center pb-12">
                {{> icons/headbook width=254 height=183 class=" m-auto"}}
        </div>
        <div class="w-full text-center">
            <span class="font-karma-bold uppercase block text-2xl xs:text-4xl m:text-6xl">pago consciente</span>
            <span class="block text-xl xs:text-2xl  font-karma-light m:text-4xl">Vos contás con nosotras; nosotras contamos con vos.</span>
        </div>
    </div>
    <div class="flex align-center">
        <div class="w-4/5 m-auto">
            {{!-- <script src="https://donorbox.org/widget.js" paypalExpress="false"></script>
            <iframe class="m-auto" src="https://donorbox.org/embed/pago-consciente" name="donorbox" allowpaymentrequest="allowpaymentrequest" seamless="seamless" frameborder="0" scrolling="no" height="900px" width="100%" style="max-width: 500px; min-width: 250px; max-height:none!important"></iframe> --}}
            <script src="https://donorbox.org/widget.js" paypalExpress="false"></script>
            <iframe class="m-auto" src="https://donorbox.org/embed/pago-consciente?default_interval=o" name="donorbox" allowpaymentrequest="allowpaymentrequest" seamless="seamless" frameborder="0" scrolling="no" height="900px" width="100%" style="max-width: 500px; min-width: 310px; max-height:none!important"></iframe>
        </div>
    </div>
</div>