{{!< default}}
{{#post}}
  {{content}}
{{/post}}


<div class="grid grid-cols-2 justify-between mt-10">
    <div>
      <img src="https://narrarte.tv/content/images/2022/11/imagen_lobas_en_yogas_garden_1.png" alt="">
    </div>
    <div>
      <img src="https://narrarte.tv/content/images/2022/11/imagen_lobas_en_yogas_garden_2.png" alt="">
    </div>
</div>