<div class="w-9/10 m-auto clear-both py-12 md:w-9/10 pcs:w-4/5 md:h-96 md:py-0 md:relative md:my-12">
    <div class="border-black md:h-100%-4px border-2 rounded-3xl border-opacity-75 border-primary-black md:h-inherit">
        {{> icons/pagoconsciente width=1200 height=821 class="w-full h-auto rounded-xl md:h-inherit md:pb-1"}}
        <div class="w-full md:absolute md:left-0 md:top-0  md:w-full md:h-full md:bg-white-r-to-white md:mb-2px md:ml-2px md:mt-2px md:rounded-3xl md:pl-12 md:pt-12 md:h-99%">
            <div class="w-full text-center pt-6 md:w-1/2 md:text-0 md:text-left  ">
                <span class="text-2xl l:text-4xl uppercase font-karma-bold text-primary-blue">pago consciente</span>
            </div>
            <div class="w-4/5 text-center m-auto md:w-1/2 md:m-0 md:text-left">
                <span class="text-base l:text-xl font-karma-regular pt-2 md:w-1/2">
                    Tú contribución económica nos ayuda a seguir contando historias
                </span>
            </div>
            <div class="w-full py-6 md:w-1/2">
                    {{> button class="m-auto block md:m-0" url="https://www.narrarte.tv/pago-consciente/" title="Contribuir" icon_src="assets/images/icons/svg/arrow-right.svg"}}
            </div>
        </div>
    </div>
</div>

